<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新WFS要素</title>
    <link href="../css/ol.css">
    <script src="../js/openlayers/ol.js"></script>
    <script src="../js/openlayers/jquery.min.js"></script>
    <script type="text/javascript" src="../js/openlayers/layer.js"></script>
    <script src="../openlayers/OpenLayers.js"></script>
</head>
<body>
<input type="button" value="查询" onclick="queryWfs();" />
<input id="select" type="checkbox" value="select" />选择
<input id="modify" type="checkbox" value="modify" />编辑
<select id="type">
    <option value="Point">Point</option>
    <option value="LineString">LineString</option>
    <option value="Polygon">Polygon</option>
    <option value="Circle">Circle</option>
</select>
<label>险种 &nbsp;</label>
<select id="categoryItem">
    <option value="1">小麦</option>
    <option value="2">玉米</option>
    <option value="3">大豆</option>
</select>
<input type="button" id="draw" name="name" value="绘图" />
<input id="save" type="button" value="保存" onclick="onSave();" />
<div id="map" style="height: 70%;">
</div>
</body>

<script>
    var modifiedFeatures=null;
    var wfsVectorLayer = null;
    var selectInteraction=new ol.interaction.Select({
        style:new ol.style.Style({
            stroke:new ol.style.Stroke({
                color: 'red',
                width: 2
            })
        })
    });
    var modifyInteraction = new ol.interaction.Modify({
        style:new ol.style.Style({
            stroke:new ol.style.Stroke({
                color: 'black',
                width: 2
            })
        }),
        features: selectInteraction.getFeatures()
    });


    var map=new ol.Map({
        view:new ol.View({
            projection:'EPSG:4326',
            center:[129.631215,44.590727],
            maxZoom: 19,
            zoom: 6,
        }),
        target:'map',
        layers:[new ol.layer.Tile({
            source:new ol.source.OSM()
        })]
    })

    modifyInteraction.on('modifyend',function (p1) {
        modifiedFeatures = p1.features;
    })

    function queryWfs() {
        // 支持重新查询
        if (wfsVectorLayer) {
            map.removeLayer(wfsVectorLayer);
        }

        // 创建新的图层来加载wfs的要素
        wfsVectorLayer = new ol.layer.Vector({
            source: new ol.source.Vector({
                format: new ol.format.GeoJSON({
                    geometryName: 'geo' // 将shp格式矢量文件导入PostgreGIS数据库中，对应的表中增加了一个字段名为geom的字段，所有这里的名称就是数据库表中增加的那个字段名称
                }),                                                                                              //PostgreGIS:xian_polygon为工作空间：图层名
                url: 'http://localhost:8080/geoserver/geoTest/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geoTest:random_data&maxFeatures=50&outputFormat=application/json&srsname=EPSG:4326'
            }),
            style: function(feature, resolution) {
                return new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: 'blue',
                        width: 5
                    })
                });
            }
        });
        map.addLayer(wfsVectorLayer);
    }

    $('#select').change(function() {
        if (this.checked) {
            // 勾选选择复选框时，添加选择器到地图
            map.removeInteraction(selectInteraction);
            map.addInteraction(selectInteraction);
        } else {
            // 不勾选选择复选框的情况下，移出选择器和修改器
            map.removeInteraction(selectInteraction);
            document.getElementById('modify').checked = false;
            map.removeInteraction(modifyInteraction);
            modifiedFeatures = null;
        }
    });

    $('#modify').change(function() {
        if (this.checked) {
            // 勾选修改复选框时，添加选择器和修改器到地图
            document.getElementById('select').checked = true;
            map.removeInteraction(modifyInteraction);
            map.addInteraction(modifyInteraction);
            map.removeInteraction(selectInteraction);
            map.addInteraction(selectInteraction);
            setActive(true, selectInteraction, modifyInteraction); //激活几何图形修改控件;
        } else {
            // 不勾选修改复选框时，移出修改器
            map.removeInteraction(modifyInteraction);
            modifiedFeatures = null;
        }
    });

    // 保存已经编辑的要素
    function onSave() {
        if (modifiedFeatures && modifiedFeatures.getLength() > 0) {

            // 转换坐标
            var modifiedFeature = modifiedFeatures.item(0).clone();
            // 注意ID是必须，通过ID才能找到对应修改的feature
            modifiedFeature.setId(modifiedFeatures.item(0).getId());
            // 调换经纬度坐标，以符合wfs协议中经纬度的位置
            modifiedFeature.getGeometry().applyTransform(function(flatCoordinates, flatCoordinates2, stride) {
                for (var j = 0; j < flatCoordinates.length; j += stride) {
                    var y = flatCoordinates[j];
                    var x = flatCoordinates[j + 1];
                    flatCoordinates[j] = x;
                    flatCoordinates[j + 1] = y;
                }
            });
            modifyWfs([modifiedFeature]);
        }
    }

    // 把修改提交到服务器端
    function modifyWfs(features) {
        var WFSTSerializer = new ol.format.WFS();
        var featObject = WFSTSerializer.writeTransaction(null,
            features, null, {
                featureType: 'random_data',  //图层名
                featureNS: 'bxlt.geoTest',  // 注意这个值必须为创建工作区时的命名空间URI
                srsName: 'EPSG:4326'
            });
        // 转换为xml内容发送到服务器端
        var serializer = new XMLSerializer();
        var featString = serializer.serializeToString(featObject);
        var request = new XMLHttpRequest();
        request.open('POST', 'http://localhost:8080/geoserver/geoTest/ows?service=WFS');
        // 指定内容为xml类型
        request.setRequestHeader('Content-Type', 'text/xml');
        request.send(featString);
        alert(request);
    }

    //---------------------------------------------------------selectInteraction  modifyInteraction modifiedFeatures  wfsVectorLayer
    var typeSelect = $("#type");
    var result = false;
    var draw;
    //绘图控件
    function Draw() {
        var value = $("#type option:selected").val();
        draw = new ol.interaction.Draw({
            source: new ol.source.OSM(),
            type: value,
            wrapX: false,
            active: false,
            style: new ol.style.Style({
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.2)'
                }),
                stroke: new ol.style.Stroke({
                    color: '#ffcc33',
                    width: 2
                }),
                image: new ol.style.Circle({
                    radius: 7,
                    fill: new ol.style.Fill({
                        color: '#ffcc33'
                    })
                })
            })
        });
        draw.on('drawend', function(evt) {
            var wgs84 ="";
            var feature = evt.feature;
            var geometry = feature.getGeometry();
            var coordinate = geometry.getCoordinates(); //多边形坐标
            //var coordinate=geometry.getCenter();
            //alert(coordinate.toString());
            var mgs = coordinate.toString().split(",");
            for(var i=0;i<mgs.length;i=i+2){
                var lon =mgs[i];
                var lat =mgs[i+1];
               // var wgs=ol.proj.transform([lon,lat],'EPSG:3857','EPSG:4326');
                var wgs1=lon+" "+lat;
                wgs84 = wgs84+wgs1+",";
            }
            wgs84=wgs84.substring(0,wgs84.length-1);
            content = wgs84;
            sendAjax(wgs84,value);
        });
        draw.setActive(result);
        map.addInteraction(draw);
    }
    setEvents(selectInteraction);

    function setEvents(select) {
        var selectedFeatures = select.getFeatures(); //选中的要素
        //添加选中要素变更事件
        select.on('change:active', function () {
            selectedFeatures.forEach(selectedFeatures.remove, selectedFeatures);
        });
    };
    //激活选择控件
    function setActive(active, select, modify) {
        select.setActive(active);//激活选择要素控件
        modify.setActive(active);//激活修改要素控件
    };
    //下拉框改变事件
    typeSelect.change(function () {
        map.removeInteraction(draw);
        Draw();
    });
    //绘图工具初始化
    Draw();
    //禁用修改控件
    setActive(false,selectInteraction, modifyInteraction);
    $("#draw").click(function () {
        result = true;
        Draw();
        setActive(false, selectInteraction, modifyInteraction);
    });
    function ClickEvent(e) {
        var arr=e.target;//获取事件对象，即产生这个事件的元素-->ol.interaction.Select

        var collection = arr.getFeatures();//获取这个事件绑定的features-->返回值是一个ol.Collection对象

        var features = collection.getArray();//获取这个集合的第一个元素-->真正的feature
        if(features.length>0){
            var value = $("#type option:selected").val();
            var wgs84 ="";
            var geometry = features[0].getGeometry();//获取之前绑定的ID,返回是一个json字符串
            var coordinate = geometry.getCoordinates(); //多边形坐标
            var mgs = coordinate.toString().split(",");
            for(var i=0;i<mgs.length;i=i+2){
                var lon =mgs[i];
                var lat =mgs[i+1];
                var wgs=ol.proj.transform([lon,lat],'EPSG:3857','EPSG:4326');
                var wgs1=wgs.toString().replace(","," ");
                wgs84 = wgs84+wgs1+",";
            }
            wgs84=wgs84.substring(0,wgs84.length-1);
            alert(wgs84);
            sendAjax(wgs84,value);
        }

    }
    function sendAjax(coordinate,geoType) {
        var categoryItemCode = document.getElementById('categoryItem').value;
        $.ajax({
            type: "get",
            url: "http://localhost:8090/mouldAttribute/findList/" + categoryItemCode,
            error: function(error) {
                console.log(error);
            },
            success: function(data) {
                var content = "<div><form id='su' >";
                var params = "";
                for(var i = 0; i < data.length; i++) {
                    params+=data[i].maName+":";
                    content += data[i].fieldexplain + "<input id='" + data[i].maName + "' name='" + data[i].maName + "'> ";
                }
                content +="<input hidden id='coordinate' name='coordinate' value='"+coordinate+"'>";
                content +="<input hidden id='geoType' name='geoType' value='"+geoType+"'>";
                content += "<input hidden id='params' name='params' value='"+params+"'>";
                content += "<input type='button' id='tijiao' name='tijiao' value='提交' onclick='sub()'>";
                content += "</form></div>";
                layer.open({
                    type: 1,
                    area: ['600px', '360px'],
                    shadeClose: true, //点击遮罩关闭
                    content: content
                });
            }
        })
    }

    function sub(){
        $.ajax({
            cache: true,
            type: "get",
            url:"/createTable/test",
            data:$('#su').serialize(),// 你的formid
            async: false,
            error: function(request) {
                alert("Connection error:"+request.error);
            },
            success: function(data) {
                alert("SUCCESS!");
                layer.close(layer.index);
                //addWms();
               // startOrie();
            }
        });
    }
</script>
</html>